extends ../layout/common
block content
  // cái block vars tức là khai báo bieenst xài chung như block content thế, vì mình muốn hiển thị trên thanh navbar nên mình sẽ truyền 
  // truyền quantity từ đây đi
  // ok bạn qua layout nha //oki
  h1 Books
  form(action="/books/search" method="GET")
    .form-group
      input(type="text", name="q", value=question)
      button.btn.btn-primary.ml-1 Search
  a(href="/books/action") Action
  table.table
    tr
      th Cover Book
      th Title
      th Description
      th Buy

    each book in books
      tr
        td
          img(src=book.coverUrl, width="64")
        td= book.title
        td= book.description
        td
          a.btn.btn-primary.mr-2(href="/cart/add/" + book.id) Add to cart 
        
          
          

      
        
