extends ../layout/common
block content
  h1 Edit User
  form(action="/users/edit/" + user.id,  method="POST")
    label Name 
    br
    input(type="text", name="name",value=values ? values.name : "")
    br

    br
    button Update